body{
    box-sizing:border-box;
    background-color: lightskyblue;
}
*{
    box-sizing:border-box;
}
h1{
    text-align: center;
    font-size: 56px;
}
#completa{
    position:absolute;
    height:500px;
    left:30%;
    width: 40%;
}
.caixa{
    width:32%;
    aspect-ratio: 1/1;
    border: solid 1px black;
    float:left;
    background-color: aliceblue;
}
.imatge{
    width: 98%;
    height: 93.5%;
}
#tornbox{
    aspect-ratio: 11/16;
    width: 12%;
    position:absolute;
    left:9%;
    top:300px;
    text-align: center;
    font-size: 26px;
}
#imatgeTorn{
    aspect-ratio: 1/1;
}
#reiniciar{
    position:absolute;
    left:78%;
    top:400px;
    font-size: 30px;
    border: 1px solid black;
    background-color: aquamarine;
    padding:40px;
    cursor: pointer;
}
@media (max-width: 700px){
    #completa{
        position:relative;
        width:90%;
        left:5%;
    }
    #tornbox{
        position:relative;
        width: 33.3333%;
        left: 5%;
        top:0;
    }
    #reiniciar{
        top:220px;
        position:absolute;
        left:55%;
    }
}