*{
    box-sizing: border-box;
}
html,body {
    margin:0;
    padding:0;
}
body{
    background-color: #24241C;
    color:beige;
}
h1{
    margin-left:1%
}
.ultraCaixa{
    clear:left;
    margin-left:50px;
}
.imatgeTemps{
    aspect-ratio: 1/1;
    max-width:107px;
    width:100%;
    display:block;
    margin:15px;
}
.caixaTemps{
    background-color: #ecd622;
    color: black;
    border:solid black 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin:30px;
    float:left;
}
.titolTemps{
    text-align:center
}
.tempTemps{
    float:left;
}
.humiTemps{
    float:right;
}
@media (max-width: 700px){
    h1{
        margin-left:5%
    }
    .ultraCaixa{
        margin:5%;
    }
    .caixaTemps{
        margin-left:5%;
        margin-right:5%;
        width:40%;
        padding: 2%;
        margin:5%;
    }
    .imatgeTemps{
        margin:10%;
        max-width:80%;
    }
}