*{
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(38,960,461)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%236F6F6F'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='348' height='290' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: #202020;
    margin:0;
    text-align: center;
    color:#F0F0F0;
    padding:10px;
}
h1{
    font-size: 2.5em;
    width: max-content;
    margin:auto;
}
header p{
    width: max-content;
    margin:auto;
}
#collapbutton{
    background-color: #202020;
    position: relative;
    float:right;
    width:13%;
    aspect-ratio: 1/1;
    margin:2% 3.8% 0 3.8%;
    border:0;
    border-radius:3px;
}
i{
    color:#F0F0F0;
}
#buttmaster{
    background-color: #202020; 
}
.buttdau{
    display:none;
    background-color: #202020;
    color:#F0F0F0;
    font-size: 24px;
    padding:0 2.75% 5px 2.75%;
    border:0;
    margin:0;
    width:100%;
    text-align: center;
}
.buttdau:active, #collapbutton:active{
	background-color: #101010;
}
main{
    text-align: center;
}
h2{
    margin: 15px auto 15px auto;
    color: #F0F0F0;
    font-size: 1.9em;
}
.dice {  
    padding: 8.5vi;  
    background-color: #101010;  
    width: 60%;  
    aspect-ratio: 1/1;  
    border-radius: 10%;
    margin: auto;
}
.dot {
    display: block;
    width: 10vi;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:#F0F0F0;
}
.face1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.face2, .face3, .face4, .face5, .face6, .face7, .face8{
    display: flex;
    justify-content : space-between;
}
.face2 .dot:nth-of-type(1), .face3 .dot:nth-of-type(1){
    align-self: flex-start;
}
.face2 .dot:nth-of-type(2) {
    align-self: flex-end;
}
.face3 .dot:nth-of-type(2) {
    align-self :center;
}
.face3 .dot:nth-of-type(3) {
    align-self: flex-end;
}
.face4 .column, .face5 .column, .face6 .column, .face7 .column, .face8 .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.face5 .column:nth-of-type(2), .face7 .column:nth-of-type(2) {
    justify-content: center;
}
#boto{
    margin:20px;
    font-size: 1.8em;
    background-color: #F0F0F0;
    border: #101010 solid;
    padding: 1.2vmax;
}
#boto:active{
    background-color: #D0D0D0;
}
#caixaSo{
    font-size: 1.75em;
}
#caixaSo p{
    background-color:#F0F0F0;
    width: max-content;
    text-align: center;
    padding:1.5vmax;
    margin:auto;
    border: solid 2px rgb(87, 87, 87);
}
#checkSo{
    height:1.5em;
    width:1.5em;
}
@media(min-width: 700px){
    .dice{
        width:40%;
        padding:6vi;
    }
    .dot{
        width:6.5vi;
    }
}