*{
    box-sizing: border-box;
}
.fl{
    float:left;
}
.exemple{
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 15px;
    padding:10px
}
.exempleMeitat{
    margin:5px; 
    width:48%;
    float:left;
}